.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Container {
  border: 1px solid black;
  border-radius: 20px;
  width: 35vw;
  height: 90vh;
}

.Header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.Header > h1 {
  font-weight: 500;
  font-size: 1.25rem;
}

.Header > p {
  color: gray;
  padding-top: 5px;
  font-size: 0.85rem;
  font-family: "DM Mono";
}