.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Container {
  border: 1px solid black;
  border-radius: 20px;
  width: 480px;
  height: 90vh;
}

@media (width < 640px) {
  .Container {
    width: 100%;
    border: none;
  }
}

.Header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.Header > h1 {
  font-weight: 500;
  font-size: 1.25rem;
}

.Header > p {
  color: rgba(0, 0, 0, 0.4);
  padding-top: 6.5px;
  font-size: 0.85rem;
  font-family: "DM Mono";
}

.Player {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 2rem;
}
